accelerate==1.2.0
aider-chat==0.67.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
anthropic==0.40.0
anyio==4.6.2.post1
anytree==2.12.1
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
async-timeout==5.0.1
asyncer==0.0.8
attrs==24.2.0
Authlib==1.3.2
autograd==1.7.0
av==12.3.0
backoff==2.2.1
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
bidict==0.23.1
bitarray==3.0.0
bitsandbytes==0.45.0
bitsnbytes==1.0.0
black==24.8.0
blinker==1.9.0
boto3==1.35.53
botocore==1.35.76
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.15
click==8.1.7
cloudpickle==3.1.0
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
colorlog==6.9.0
compressed-tensors==0.8.0
compressed_rtf==1.0.6
ConfigArgParse==1.7
contourpy==1.3.1
cryptography==44.0.0
ctranslate2==4.5.0
cut-cross-entropy==24.12.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.1.0
defusedxml==0.7.1
Deprecated==1.2.15
diff-match-patch==20241021
diffusers==0.31.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
dspy==2.5.41
dspy-ai==2.5.41
duckduckgo_search==6.3.7
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
einops==0.8.0
email_validator==2.2.0
emoji==2.14.0
et_xmlfile==2.0.0
eval_type_backport==0.2.0
Events==0.5
extract-msg==0.52.0
fake-useragent==1.5.1
fastapi==0.111.0
fastapi-cli==0.0.6
faster-whisper==1.0.3
filelock==3.16.1
filetype==1.2.0
flake8==7.1.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.55.2
fpdf2==2.7.9
frozenlist==1.5.0
fsspec==2024.9.0
ftfy==6.2.3
future==1.0.0
gensim==4.3.3
gguf==0.10.0
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.0.3
grep-ast==0.4.1
grpcio==1.67.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hf_transfer==0.1.8
hnswlib==0.8.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.3
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
hyppo==0.4.0
idna==3.10
importlib_metadata==7.2.1
importlib_resources==6.4.5
iniconfig==2.0.0
interegular==0.3.3
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.0
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
json_repair==0.30.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
kubernetes==31.0.0
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.22
langchain-ollama==0.2.1
langchain-text-splitters==0.3.2
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
lark==1.1.9
ldap3==2.9.1
litellm==1.53.5
llvmlite==0.43.0
lm-format-enforcer==0.10.9
lxml==5.3.0
magicattr==0.1.6
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.3
mccabe==0.7.0
mdurl==0.1.2
mistral_common==1.5.1
mixpanel==4.10.1
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mmh3==5.0.1
monotonic==1.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack==1.1.0
msgspec==0.18.6
msoffcrypto-tool==5.4.2
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nano-graphrag==0.0.8.2
nano-vectordb==0.0.4.3
neo4j==5.27.0
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.2
nltk==3.9.1
numba==0.60.0
numpy==2.2.0
nvidia-ml-py==12.560.30
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
ollama==0.4.4
onnxruntime==1.20.1
open-webui==0.4.7
openai==1.56.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
optuna==4.1.0
orjson==3.10.12
outlines==0.0.46
overrides==7.7.0
packaging==24.2
pandas==2.2.3
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
pathspec==0.12.1
patsy==1.0.1
pcodedmp==1.2.6
peewee==3.17.6
peewee-migrate==1.12.2
peft==0.14.0
pexpect==4.9.0
pgvector==0.3.5
pillow==10.4.0
platformdirs==4.3.6
playwright==1.47.0
pluggy==1.5.0
portalocker==2.10.1
posthog==3.7.4
POT==0.9.5
primp==0.8.2
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==3.20.3
psutil==6.1.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydub==0.25.1
pyee==12.0.0
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.9.0
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.10.1
PyMySQL==1.1.1
pynndescent==0.5.13
pypandoc==1.14
pyparsing==3.2.0
pypdf==4.3.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-docker==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-iso639==2024.10.22
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.2
pywin32==308
pyxlsb==1.0.10
PyYAML==6.0.2
pyzmq==26.2.0
qdrant-client==1.12.1
rank-bm25==0.2.2
RapidFuzz==3.10.1
rapidocr-onnxruntime==1.3.24
ray==2.40.0
red-black-tree-mod==1.20
redis==5.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rich-toolkit==0.12.0
rpds-py==0.22.3
rsa==4.9
RTFDE==0.1.2
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
shtab==1.7.1
simple-websocket==1.1.0
six==1.17.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
SQLAlchemy==2.0.32
starlette==0.37.2
statsmodels==0.14.4
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.47.0
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
triton @ https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post5/triton-3.1.0-cp311-cp311-win_amd64.whl#sha256=1628cd027ea4544e73e9827f294f79c6f7186af28debf8dc209f744a74fdbb10
trl==0.8.6
typeguard==4.4.1
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.9.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
umap-learn==0.5.7
unsloth==2024.12.4
unsloth_zoo==2024.12.1
unstructured==0.15.9
unstructured-client==0.28.1
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.30.6
validators==0.33.0
vllm==0.6.4.post1
watchfiles==1.0.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
win-inet-pton @ file:///D:/bld/win_inet_pton_1666755007310/work
win_unicode_console==0.5
wrapt==1.17.0
wsproto==1.2.0
xformers==0.0.28.post3
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==0.6.3
zipp==3.21.0
zstandard==0.23.0
